@using BerserkCollection.Models
@model List<CollectionViewModel>

<div class="container-xxl d-flex mt-2 mb-2 justify-content-center">
    <img id="plains" type="element" class="filter icon-img mx-1" src="/images/icons/element-plains.png" title="Степи">
    <img id="mountains" type="element" class="filter icon-img mx-1" src="/images/icons/element-mountains.png" title="Горы">
    <img id="forests" type="element" class="filter icon-img mx-1" src="/images/icons/element-forests.png" title="Леса">
    <img id="swamps" type="element" class="filter icon-img mx-1" src="/images/icons/element-swamps.png" title="Болота">
    <img id="dark" type="element" class="filter icon-img mx-1" src="/images/icons/element-dark.png" title="Тьма">
    <img id="neutral" type="element" class="filter icon-img mx-1" src="/images/icons/element-neutral.png" title="Нейтральные">
    <img id="common" type="rare" class="filter icon-img mx-1" src="/images/icons/common.png" title="Частые">
    <img id="uncommon" type="rare" class="filter icon-img mx-1" src="/images/icons/uncommon.png" title="Необычные">
    <img id="rare" type="rare" class="filter icon-img mx-1" src="/images/icons/rare.png" title="Редкие">
    <img id="ultrarare" type="rare" class="filter icon-img mx-1" src="/images/icons/ultrarare.png" title="Ультраредкие">
    <img id="ordinary" type="currency" class="filter icon-img mx-1" src="/images/icons/icon-ordinary.png" title="Рядовые">
    <img id="elite" type="currency" class="filter icon-img mx-1" src="/images/icons/icon-elite.png" title="Элитные">
    <img id="legendsSet" type="set" class="filter icon-img mx-1" src="/images/icons/rarity-common-ll.png" title="Легенды Лаара">
    <img id="warSet" type="set" class="filter icon-img mx-1" src="/images/icons/rarity-common-1.png" title="Война стихий">
    <img id="darkSet" type="set" class="filter icon-img mx-1" src="/images/icons/rarity-common-2.png" title="Нашествие тьмы">
    <img id="seedSet" type="set" class="filter icon-img mx-1" src="/images/icons/rarity-common-3.png" title="Семена раздора">
    <img id="less" type="availability" class="icon-img mx-1 gray" src="/images/icons/less.png" title="Некомплект">
    <img id="more" type="availability" class="icon-img mx-1 gray" src="/images/icons/more.png" title="Лишние">
    <img id="have" type="availability" class="icon-img mx-1 gray" src="/images/icons/plus.png" title="В коллекции">
    <img id="all" type="availability" class="icon-img mx-1" src="/images/icons/tilde.png" title="Все карты">
    <img id="small" type="screen" class="icon-img mx-1" src="/images/icons/smallscreen.png" title="По 6 в ряд">
    <img id="full" type="screen" class="icon-img mx-1 gray" src="/images/icons/fullscreen.png" title="На весь экран">
</div>
<main id="cardList" class="text-white container-xxl align-items-center text-center">
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col @(Model[i].Currency) 
                            @(Model[i].Rare) 
                            @(Model[i].Element) 
                            @(Model[i].Set)
                            @(Model[i].Properties)
                            @(CollectionViewModel.GetAvailability(Model[i].Count, Model[i].IsHorde))" style="height:300px">
                @if (Model[i].Count > 0)
                {
                    <img class="card-img" src="@Model[i].Image">
                }
                else
                {
                    <img class="card-img gray" src="@Model[i].Image">
                }
                <br />
                <b><label>@Model[i].Number. @Model[i].Name</label></b><br />
                <input type="hidden" name="cards[@i].Name" value="@Model[i].Name">
                <label class="minus">-</label>
                <label class="count">@Model[i].Count</label>
                <input class="idcard" type="hidden" name="cards[@i].Id" value="@Model[i].Id">
                <label class="plus">+</label>
            </div>
        }
    </div>
</main>