@model List<WebApplication1.Models.Card>
<div class="align-items-center">
    <main id="cardList" class="text-white">
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col @(Model[i].Currency) @(Model[i].Rare)">
                    <img class="card-img" src="@Model[i].Image">
                    <br />
                    <b><label>@Model[i].Number. @Model[i].Name</label></b><br />
                    <input type="hidden" name="cards[@i].Name" value="@Model[i].Name">
                    <label class="minus">-</label>
                    <label class="count">@Model[i].Count</label>
                    <input class="count" type="hidden" name="cards[@i].Count" value="@Model[i].Count">
                    <label class="plus">+</label>
                </div>
            }
        </div>
    </main>
</div>